:root{
    --primery-text-color:#191D23;
    --text-button:#ffffff;
}

/* -----------------header---------------------- */
.container-cover{
    background-image: url(../images/backgroundOpt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.list-header{
    display: flex;
    /* margin-left: 108px; */
}

.list-header .item:not(:last-child){
    margin-right: 12px;
}

.list-header .link{
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
}



/* =============================== */
/* клас для секції  Назва салона*/
.salon-name-position{
    /* outline: 2px solid tomato; */
    width: 306px;
    height: 73px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
    text-align: center;

    text-shadow: 1px 1px 0 0 #fff;
    background: rgba(255, 255, 255, 0.5);
}


/* заголовок назви салону */
.title-salon{
    font-family: "Marmelad", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #191d23;

    /* text-shadow: 1px 1px 0 0 #000; */

}

/* adress-salon */
.adress-salon{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #191d23;
}
/* -----------------Робочі часи---------------------- */
/* Робочі часи */
.work-list{
    /* outline: 2px solid tomato; */
    width: 171px;
    height: 79px;
    padding: 15px;
    margin-bottom: 114px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.title-time{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #191d23;
    padding-bottom: 6px;

    text-shadow: 1px 1px 0 0 #fff;
    background: rgba(255, 255, 255, 0.5);
}


/* ------------------кнопки--------------------- */
/* класс для секцiї з кнопками */


/* класс для  li секцiї з кнопками*/
.list-btn:not(:last-child) {
    margin-bottom: 30px;   
}

/* клас для кнопок */
.btn-interface{
    display: inline-flex;
    width: 355px;
    height: 60px; 
    align-items: center;
    text-decoration: none;
    background-color: var(--primery-text-color);
    color: var(--text-button);
    border-radius: 4px;
    border: 1px solid transparent;
   padding-top: 16px;
   padding-bottom: 16px;
   cursor: pointer; 

   font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.btn-interface:hover,
.btn-interface:focus{
    background-color: var(--text-button);
    background-color: #1a1675;
}

.btn-icon{
    height: 40px;
    width: 40px;
    background-color: var(--text-button);
    border-radius: 50%;
    margin-left: 14px;
    margin-right: 40px;
    padding: 8px 4px;
    /* content: ""; */
}

/* .icon{
    width: 45px;
    height: 45px;
   
} */



